.keyboard {
  flex: 0 0 500px;
  width: 500px;
  height: 200px;
  border: 1px solid black;
  box-sizing: border-box;
  margin-left: 20px;

  display: grid;
  grid-template-areas:
    'top top top'
    'left keys right';
  grid-template-rows: minmax(0, 1fr) minmax(0, 4fr);
  grid-template-columns: minmax(0, 50px) minmax(0, auto) minmax(0, 50px);

  .top-row {
    grid-area: top;
  }

  .keys-area {
    grid-area: keys;
    border: 1px solid black;
  }

  .left-side {
    grid-area: left;
  }

  .right-side {
    grid-area: right;
  }
}
