.hotkeys-container {
  height: 40px;
  width: 100%;

  display: flex;
  flex-direction: column;

  .hotkey-row {
    display: flex;
    align-items: center;

    &.black {
      padding-left: 15px;
    }
  }

  .hotkey-box {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &.black {
      margin-left: 5px;
      margin-right: 5px;
    }

    &.white {
      margin-left: 5px;
      margin-right: 5px;
    }

    &.listening {
      box-shadow: inset 0px 0px 2px 2px rgba($color: #658bf1, $alpha: 0.75);
    }
  }

  .hotkey-spacer {
    width: 30px;
  }
}
