$whiteKeyWidth: 30px;
$blackKeyWidth: 25px;
$blackKeyHeight: 60%;

.keyboard {
  flex-grow: 0;
  flex-shrink: 0;
  // width: min-content;
  height: 240px;
  border: 1px solid black;
  box-sizing: border-box;
  margin-left: 20px;

  display: grid;
  grid-template-areas:
    'top top top'
    'left keys right';
  grid-template-rows: minmax(0, 1fr) minmax(0, 3fr);
  grid-template-columns: minmax(0, 50px) min-content minmax(0, 50px);

  .top-row {
    grid-area: top;
  }

  .left-side {
    grid-area: left;
  }

  .right-side {
    grid-area: right;
  }

  .keys-area {
    grid-area: keys;
    border: 3px solid black;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;

    .key-pair {
      height: 100%;
      position: relative;
    }

    .white-key {
      width: $whiteKeyWidth;
      height: 100%;
      border: 1px solid black;
      border-radius: 2px;
      box-sizing: content-box;

      &.playing {
        background-color: grey;
      }
    }

    .black-key {
      z-index: 10;
      position: absolute;
      top: 0;
      left: 17px;
      width: $blackKeyWidth;
      height: $blackKeyHeight;
      background-color: black;
      border-radius: 2px 2px 5px 5px;

      &.playing {
        background-color: grey;
      }
    }
  }
}
